<div class="top-com">
    <h1>Post#<%= @post.id %> by <%= @user.name %></h1>
    <%= render partial: 'users/show', object: @post, as: :post %>
</div>
<div class="comment-container">
    <h3>Post Comments</h3>
    <%= show_comments(@post) %>
</div>
<div class="buttons">
    <%= button_to 'Add a Like', user_post_likes_path(@user.id, @post.id), method: :post %>
    <%= button_to 'Add a Comment', new_user_post_comment_path(@user.id, @post.id), method: :get %>
</div>